/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vc-c-light: hsl(0, 0%, 100%);
  --vc-c-dark: hsl(0, 0%, 9%);
  --vc-lc-light: hsl(198, 74%, 85%);
  --vc-lc-dark: hsl(198, 74%, 45%);
}
:root{
  --color-background: var(--vc-c-light);
  --color-text: var(--vc-c-dark);
  --color-link: var(--vc-lc-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vc-c-dark);
    --color-text: var(--vc-c-light);
    --color-link: var(--vc-lc-light);
  }
}
body {
  min-height: 100dvh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  color: var(--color-link);
}
